
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="952635760547-m433c51fic0jjq02thcmlsut10gjjt15.apps.googleusercontent.com">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <title>Omni Global</title>
    <meta name="description" content="Welcome to OMNI, power your Real life, ask for information, pictures or items - find anything anytime easy in real-time. Just select a location and ask a question and your community will answer that instantaneously, don't settle for doubt find anything globally as it happens now.">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/intlTelInput.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<style>
.iti__flag {background-image: url("path/to/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("path/to/flags@2x.png");}

}

a {
  color: black;
  text-decoration: none;
}
</style>

<body class="mdc-typography"  style="background: rgba(0, 0, 0, 0) url(img/geometry.png) repeat scroll 0% 0%;">

  
  

    <article>
      
        <div class="mdc-card login-card">

            <div id="loader-wrapper">
                <div id="loader"></div>
            </div>

            <h1 class="line">sign in</h1>

            <div class="mdc-chip-set mdc-chip-set--choice" id="chipset" role="grid">

                <div class="mdc-touch-target-wrapper">
                    <div class="mdc-chip mdc-chip--touch" role="row" id="fb" style="background-color: #3b5998; color: #fff;">
                        <div class="mdc-chip__ripple"></div>
                        <i class="material-icons mdc-chip__icon mdc-chip__icon--leading" style="color: #fff;">facebook</i>
                        <span role="gridcell">
                          <span role="button" tabindex="0" class="mdc-chip__primary-action">
                            <span class="mdc-chip__text">Facebook</span>
                          </span>
                        </span>
                      </div>
                  </div>

                  <div class="mdc-touch-target-wrapper">
                    <div class="mdc-chip mdc-chip--touch" role="row" style="background-color: #dd4b39; color: #fff;">
                        <div class="mdc-chip__ripple"></div>
                        <i class="material-icons mdc-chip__icon mdc-chip__icon--leading fa fa-google" style="color: #fff;"></i>
                        <span role="gridcell">
                          <span role="button" tabindex="0" class="mdc-chip__primary-action">
                            <span class="mdc-chip__text" id="customBtn">Google</span>
                            <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->

                          </span>
                        </span>
                      </div>
                  </div>

                  <!-- <div class="mdc-touch-target-wrapper">
                    <div class="mdc-chip mdc-chip--touch" role="row" style="background-color: #00aced; color: #fff;"> 
                        <div class="mdc-chip__ripple"></div>
                        <i class="material-icons mdc-chip__icon mdc-chip__icon--leading fa fa-twitter" style="color: #fff;"></i>
                        <span role="gridcell">
                          <span role="button" tabindex="0" class="mdc-chip__primary-action">
                            <span class="mdc-chip__text">Twitter</span>
                          </span>
                        </span>
                      </div>
                  </div> -->
            </div>

            <h1 class="line">or sign in using email</h1>

            <form action="." method="POST" class="login-form">

              {% csrf_token %}
            
              <div class="mdc-card validation-card email">
                <h4>Email must be in the format:</h4>
                <p id="em"> <span class="material-icons">close</span> email@example.com</p>
            
              </div>
            
              <label class="mdc-text-field fw mdc-text-field--outlined mdc-text-field--with-leading-icon">
                <span class="material-icons mdc-text-field__icon mdc-text-field__icon--leading">email</span>
                <input type="text" class="mdc-text-field__input" name="username" id="id_username"  aria-labelledby="email-id" aria-controls="email-helper-text" aria-describedby="email-helper-text" required>
                <!-- <input type="email" class="mdc-text-field__input" name="email" aria-labelledby="email-id" aria-controls="email-helper-text" aria-describedby="email-helper-text" required> -->
                <span class="mdc-notched-outline">
                  <span class="mdc-notched-outline__leading"></span>
                  <span class="mdc-notched-outline__notch">
                    <span class="mdc-floating-label" id="email-id">Email</span>
                  </span>
                  <span class="mdc-notched-outline__trailing"></span>
                </span>
              </label>

              <!-- <div style="margin-bottom: 20px;">
                <label class="mdc-text-field fw mdc-text-field--outlined mdc-text-field--with-leading-icon" style="margin-bottom: 0;">
                  <span class="material-icons mdc-text-field__icon mdc-text-field__icon--leading">email</span>
                  <input type="email" class="mdc-text-field__input" name="email" aria-labelledby="email-id" aria-controls="email-helper-text" aria-describedby="email-helper-text" required>
                  <span class="mdc-notched-outline">
                    <span class="mdc-notched-outline__leading"></span>
                    <span class="mdc-notched-outline__notch">
                      <span class="mdc-floating-label" id="email-id">Email</span>
                    </span>
                    <span class="mdc-notched-outline__trailing"></span>
                  </span>
                </label>
                <div class="mdc-text-field-helper-line">
                  <div id="email-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" aria-hidden="true">helper text</div>
                </div>
              </div> -->
            
              <div class="mdc-card validation-card pwd">
                <h4>Password must contain:</h4>
                <p id="letter"> <span class="material-icons">close</span> <b>A lowercase </b> letter</p>
                <p id="capital"> <span class="material-icons">close</span> <b>A capital(uppercase) </b> letter</p>
                <p id="number"> <span class="material-icons">close</span> <b>A number</b></p>
                <p id="len"> <span class="material-icons">close</span> <b>At least 8 characters</b></p>
              </div>
            
              <label id="password" class="mdc-text-field fw mdc-text-field--outlined mdc-text-field--with-leading-icon mdc-text-field--with-trailing-icon">
                <span class="material-icons mdc-text-field__icon mdc-text-field__icon--leading">lock</span>
                <input class="mdc-text-field__input" type="password" name="password" aria-labelledby="pwd" id="id_password" minlength="8" autocomplete="current-password"
                  required="">

                

                  <i class="material-icons mdc-text-field__icon mdc-text-field__icon--trailing" tabindex="0"
                  role="button">visibility</i>
            
                <span class="mdc-notched-outline">
                  <span class="mdc-notched-outline__leading"></span>
                  <span class="mdc-notched-outline__notch">
                    <span class="mdc-floating-label" id="pwd">Password</span>
                  </span>
                  <span class="mdc-notched-outline__trailing"></span>
                </span>
            
              </label>

              <!-- <div class="mdc-text-field-helper-line">
                <div id="password-helper-text" class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" aria-hidden="true">
                  
                </div>
              </div> -->

              <!-- <a href="">Forgot password?</a> -->
            
              <!-- <div class="mdc-form-field">
                <div class="mdc-checkbox">
                  <input type="checkbox" class="mdc-checkbox__native-control" id="checkbox-tc" required />
                  <div class="mdc-checkbox__background">
                    <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                      <path class="mdc-checkbox__checkmark-path" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                    </svg>
                    <div class="mdc-checkbox__mixedmark"></div>
                  </div>
                  <div class="mdc-checkbox__ripple"></div>
                </div>
                <label for="checkbox-1">I accept the Terms & Conditions</label>
              </div> -->
            
            
              <button class="mdc-button mdc-button--raised btn-submit-lg" type="submit" id="btn-login">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">sign in</span>
              </button>
            
            </form>

            <!-- <div id="checksField">
              <h3>Password must contain the following:</h3>
              <p id="letter" class="wrong">A <b>lowercase</b> letter</p>
              <p id="capital" class="wrong">A <b>capital (uppercase)</b>letter</p>
              <p id="number" class="wrong">A <b>number</b></p>
              <p id="len" class="wrong">A <b>At least 8 characters</b></p>

            </div> -->

        </div>


    </article>

    <!-- <script src="https://apis.google.com/js/platform.js" async defer></script> -->
    <script src="https://apis.google.com/js/api:client.js"></script>
    <script src="{% static 'accounts/js/script.js' %}"></script>

    <script>

      function getCookie(name) {
          let cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              const cookies = document.cookie.split(';');
              for (let i = 0; i < cookies.length; i++) {
                  const cookie = cookies[i].trim();
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
      const csrftoken = getCookie('csrftoken');

      const UNAME = document.querySelector('#id_username');
      UNAME.addEventListener('change', e => {
        console.log(e.target.value);
        let username = e.target.value;
        

        fetch('{% url "validate_username" %}', {
          method: 'GET',
          mode: 'same-origin',
          body: JSON.stringify({
            username: username
          }),
          headers: {
            'Content-type': 'application/json; charset=UTF-8',
            'X-CSRFToken': csrftoken
          }
        }).then(function (response) {
          if (response.ok) {
            return response.json();
          }
          return Promise.reject(response);
        }).then(function (data) {
          console.log(data);
          if(data.is_taken == 200) { 
            alert('a user with this username is already taken')
          }
        }).catch(function (error) {
          console.warn('Something went wrong.', error);
        });
      })
    </script>


    <script>

      function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
        console.log('statusChangeCallback');
        console.log(response);                   // The current login status of the person.
        if (response.status === 'connected') {   // Logged into your webpage and Facebook.
          testAPI();  
        } else {                                 // Not logged into your webpage or we are unable to tell.
          // document.getElementById('status').innerHTML = 'Please log ' +
          //   'into this webpage.';
          console.log('please log into this webpage')
        }
      }

      function checkLoginState() {               // Called when a person is finished with the Login Button.
        FB.getLoginStatus(function(response) {   // See the onlogin handler
          statusChangeCallback(response);
        });
      }
      
      window.fbAsyncInit = function() {
        FB.init({
          appId            : '403661203961863',
          autoLogAppEvents : true,
          xfbml            : true,
          version          : 'v8.0'
        });

        FB.getLoginStatus(function(response) {   // Called after the JS SDK has been initialized.
          statusChangeCallback(response);        // Returns the login status.
        });

      };

      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

      function testAPI() {                      // Testing Graph API after login.  See statusChangeCallback() for when this call is made.
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function(response) {
          console.log('Successful login for: ' + response.name);
          // document.getElementById('status').innerHTML =
          //   'Thanks for logging in, ' + response.name + '!';
          console.log('Thanks for logging in, ' + response.name + '!');
        });
      }


      const helperText = new mdc.textField.MDCTextFieldHelperText(document.querySelector('.mdc-text-field-helper-text'));
      // const hText = new mdc.textField.MDCTextFieldHelperText(document.querySelector('.mdc-text-field-helper-text'));

      // helperText.setContent("string");
      // MDCTextField.setHelperTextContent('help me');
      
    </script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>

        
</body>
</html>